*{
    background-color: black;
}
.card{
    color: white;
}
.navbar-brand{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(50, 241, 50);
    font-weight: 600;

    
}
@media (max-width: 767.98px) {
    .btn {
        margin-top: 15px; /* Adjust this value as needed */
    }
}